{% extends "base.html" %}
{% block title %}Noticias y Consejos Dentales{% endblock %}
{% block content %}
<section class="section container animate-up">
    <h1>Dental News</h1>
    <div class="blog-feed">
        <article class="blog-card">
            <div class="blog-card-image"><img src="https://images.unsplash.com/photo-1588776814546-1ffcf47267a5?auto=format&fit=crop&q=80&w=800" alt="News"></div>
            <div class="blog-card-content">
                <h2>Beneficios de la ortodoncia invisible</h2>
                <p>Descubre cómo mejorar tu sonrisa estéticamente.</p>
                <a href="#" class="read-more">Leer más</a>
            </div>
        </article>
    </div>
</section>
{% endblock %}
